<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.macaw.jarboot.dao.JarMonitorMapper">
  <resultMap id="BaseResultMap" type="cn.migu.macaw.jarboot.api.model.JarMonitor">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="OBJ_ID" jdbcType="VARCHAR" property="objId" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="SERVER_ID" jdbcType="VARCHAR" property="serverId" />
    <result column="JAR_ID" jdbcType="VARCHAR" property="jarId" />
    <result column="JAR_KIND" jdbcType="INTEGER" property="jarKind" />
    <result column="FORMAT" jdbcType="INTEGER" property="format" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="PERIOD" jdbcType="INTEGER" property="period" />
    <result column="SCOPE" jdbcType="INTEGER" property="scope" />
    <result column="NOTE" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
</mapper>