<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.macaw.sparkdrivermgr.dao.ProcessLogMapper">
  <resultMap id="BaseResultMap" type="cn.migu.macaw.sparkdrivermgr.api.model.ProcessLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="OBJ_ID" jdbcType="VARCHAR" property="objId" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="SERVER_ID" jdbcType="VARCHAR" property="serverId" />
    <result column="JAR_ID" jdbcType="VARCHAR" property="jarId" />
    <result column="PORT" jdbcType="INTEGER" property="port" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="KIND" jdbcType="VARCHAR" property="kind" />
    <result column="PROCESS_NO" jdbcType="INTEGER" property="processNo" />
    <result column="ACTION" jdbcType="INTEGER" property="action" />
    <result column="MEMORY" jdbcType="VARCHAR" property="memory" />
    <result column="CPUS" jdbcType="INTEGER" property="cpus" />
    <result column="DEAL_TIME" jdbcType="TIMESTAMP" property="dealTime" />
    <result column="DEAL_USER" jdbcType="VARCHAR" property="dealUser" />
    <result column="NOTE" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
</mapper>