<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.macaw.schedule.dao.JobNodeMapper">
  <resultMap id="BaseResultMap" type="cn.migu.macaw.schedule.api.model.JobNode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="OBJ_ID" jdbcType="VARCHAR" property="objId" />
    <result column="JOB_CODE" jdbcType="VARCHAR" property="jobCode" />
    <result column="TASK_CODE" jdbcType="VARCHAR" property="taskCode" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="PARENT_CODE" jdbcType="VARCHAR" property="parentCode" />
    <result column="STATE" jdbcType="TINYINT" property="state" />
    <result column="DEAL_TIME" jdbcType="TIMESTAMP" property="dealTime" />
    <result column="DEAL_USER" jdbcType="VARCHAR" property="dealUser" />
    <result column="TEMPLATE_CODE" jdbcType="VARCHAR" property="templateCode" />
    <result column="NOTE" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
</mapper>