<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.macaw.schedule.dao.OfflineDataSourceMapper">
  <resultMap id="BaseResultMap" type="cn.migu.macaw.schedule.api.model.OfflineDataSource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="OBJ_ID" jdbcType="VARCHAR" property="objId" />
    <result column="KIND" jdbcType="INTEGER" property="kind" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="PORT" jdbcType="INTEGER" property="port" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="RESERVE4" jdbcType="VARCHAR" property="reserve4" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_USER" jdbcType="VARCHAR" property="modifyUser" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="NOTE" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
</mapper>